/* base_users.css 로드 후 login.css 적용 */

html, body {
    height: 100%; /* 로그인 컨테이너 수직 중앙 정렬 */
}

.login-page-container { /* HTML .login-container에 적용될 새로운 클래스 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이 */
}

.signup-link-span a { /* 로그인 박스 하단 회원가입 링크 */
    color: #007bff;
    text-decoration: none;
    margin-left: 5px;
}
.signup-link-span a:hover {
    text-decoration: underline;
}