table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* 테이블, 위 요소 간격 */
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background: #f0f0f0;
}